.content-btn-left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.content-btn-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.content-btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
