<div class="form-group">
  <label
    class="form-label"
    [class.is-disabled]="disabled"
    [for]="id"
    *ngIf="label"
    >{{ label }}</label
  >
  <!-- [class.is-invalid]="" -->
  <input
    class="form-input"
    
    [type]="type"
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [required]="required"
    [formControl]="formControl"
    [minlength]="minlength"
    [maxlength]="maxlength"
    [min]="min"
    [max]="max"
    (input)="onHandleInput($event)"
    (change)="onHandleChange($event)"
  />
  <!-- <span class="form-error" *ngIf="error">{{ error }}</span> -->
</div>
