@import "../../../styles/variables.scss";

.title {
  border-bottom: 1px map-get($colors, secondary) solid;
  text-align: center;
}

.content {
  position: relative;
}

.content-x {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
